.debug {
  height: 100vh;
  position: fixed;
  width: 100%;
}
.debug > div {
  height: inherit;
  max-width: 1410px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 2560px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1410px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1175px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 960px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 720px) {
  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 321px) {
  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (max-width: 2560px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1410px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1175px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 960px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 720px) {
  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 321px) {
  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.debug > div > div {
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.debug > div > div > div {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(100% / 10 * 1 - 15px);
  height: inherit;
  outline: 1px solid rgba(157, 153, 250, 0.33);
  background: rgba(118, 112, 137, 0.24);
}
html,
body {
  color: #fff;
  font-size: 16px;
  font-family: monospace;
}
html body,
body body,
html div,
body div,
html dl,
body dl,
html dt,
body dt,
html dd,
body dd,
html ul,
body ul,
html li,
body li,
html h1,
body h1,
html h2,
body h2,
html h3,
body h3,
html h4,
body h4,
html h5,
body h5,
html h6,
body h6,
html pre,
body pre,
html code,
body code,
html form,
body form,
html fieldset,
body fieldset,
html input,
body input,
html textarea,
body textarea,
html p,
body p,
html blockquote,
body blockquote,
html th,
body th,
html td,
body td {
  margin: 0;
  padding: 0;
}
html table,
body table {
  border-collapse: collapse;
  border-spacing: 0;
}
html fieldset,
body fieldset,
html img,
body img,
html abbr,
body abbr {
  border: 0;
}
html address,
body address,
html caption,
body caption,
html cite,
body cite,
html code,
body code,
html dfn,
body dfn,
html em,
body em,
html strong,
body strong,
html th,
body th,
html var,
body var {
  font-style: normal;
  font-weight: normal;
}
html ul li,
body ul li {
  list-style: none;
}
html caption,
body caption,
html th,
body th {
  text-align: left;
}
html h1,
body h1,
html h2,
body h2,
html h3,
body h3,
html h4,
body h4,
html h5,
body h5,
html h6,
body h6 {
  font-size: 100%;
  font-weight: normal;
}
html sup,
body sup {
  vertical-align: text-top;
}
html sub,
body sub {
  vertical-align: text-bottom;
}
html input,
body input,
html textarea,
body textarea,
html select,
body select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
html legend,
body legend {
  color: #000;
}
html article,
body article,
html aside,
body aside,
html details,
body details,
html figcaption,
body figcaption,
html figure,
body figure,
html footer,
body footer,
html header,
body header,
html hgroup,
body hgroup,
html menu,
body menu,
html nav,
body nav,
html section,
body section,
html main,
body main {
  display: block;
}
html img,
body img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1410px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 2560px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1410px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1175px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 960px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 720px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 321px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }
}
body {
  background: #dbdbdb;
}

