<template>
    <div class="row">
        <form action="#" class="col-xl-5 col-md-8 col-sm-10 col-xs-12 mt-4" @submit.prevent="send_form">
            <h1 class="h1 w-100">Форма для связи с нами</h1>

            <input type="hidden" name="_token" :value="csrf">

            <div class="form-group">
                <label for="user_name">Имя</label>
                <input name="user_name" type="text" class="form-control" id="user_name" placeholder="Ваше имя"
                       v-model="fields.user_name">
            </div>
            <div class="form-group">
                <label for="user_phone">Телефон</label>
                <input name="user_phone" type="tel" class="form-control" id="user_phone" placeholder="+7 123 456 78 90"
                       v-model="fields.user_phone">
            </div>
            <div class="form-group">
                <label for="user_comment">Обращение</label>
                <textarea name="user_comment" class="form-control" id="user_comment" rows="3"
                          placeholder="Текст Вашего обращения"
                          v-model="fields.user_comment"></textarea>
            </div>

            <ul>
                <li class="text-danger" v-for="(error, index) in err">Поле {{ index }} {{ error[0] }}</li>
            </ul>

            <button type="submit" class="btn btn-primary mb-2" v-if="show_btn">Отправить</button>
        </form>
        <popup @close="popup_methods()" v-show="showModal"></popup>
    </div>
</template>

<script>
import axios from 'axios'
import popup from './../components/PopUp'

export default {
    name: "Index",
    data() {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            fields: {
                user_name: null,
                user_phone: null,
                user_comment: null
            },
            err: {},
            showModal: false,
            show_btn: true
        }
    },
    methods: {
        popup_methods() {
            this.showModal = false
            this.fields = {}
        },
        send_form() {
            this.err = {}
            this.show_btn = false
            axios.post('/feedback_form', {
                user_name: this.fields.user_name,
                user_phone: this.fields.user_phone,
                user_comment: this.fields.user_comment,
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRF-TOKEN': this.csrf
                }
            }).then(
                response => {
                    if (response.status == 200) {
                        this.showModal = true
                        this.show_btn = true
                    }
                }
            ).catch(
                error => {
                    this.show_btn = true
                    if (error.response.status == 404) {
                        // console.log(error)
                    }
                    if (error.response.status == 422) {
                        this.err = error.response.data.errors
                    }
                }
            );
        },
    },
    components: {
        popup
    },
}
</script>

<style scoped lang="less">
/*@import "./../../less/smart-grid";*/
</style>
