<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                            <h4>Сообщение отправлено!</h4>
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            Можете отправить сообщение ещё раз.
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="modal-default-button" @click="$emit('close', showModal)">
                                Закрыть
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "PopUp",
        data() {
            return {
                showModal: false
            }
        }
    }
</script>

<style scoped>
* {
    transition: all .3s;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 370px;
    max-width: 90%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
    background-color: #23d160;
    color: #fff;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    display: inline-flex;
    font-size: 14px;
    height: 32px;
    line-height: 24px;
    position: relative;
    vertical-align: top;
    user-select: none;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.modal-default-button:hover {
    background-color: #15c151;
    box-shadow: 2px 2px 8px 1px rgba(50,50,50, .3);
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
</style>
